[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
absl-py = "*"
django = "*"
astor = "*"
cachetools = "*"
certifi = "*"
chardet = "*"
django-cors-headers = "*"
djangorestframework = "*"
gast = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-pasta = "*"
grpcio = "*"
h5py = "*"
idna = "*"
joblib = "*"
keras = "*"
keras-applications = "*"
keras-preprocessing = "*"
markdown = "*"
numpy = "*"
oauthlib = "*"
opencv-python = "*"
opt-einsum = "*"
pandas = "*"
pillow = "*"
protobuf = "*"
pyasn1 = "*"
pyasn1-modules = "*"
python-dateutil = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
sqlparse = "*"
tensorboard = "*"
tensorflow = "*"
tensorflow-estimator = "*"
termcolor = "*"
urllib3 = "*"
werkzeug = "*"
wrapt = "*"
pil = "*"

[requires]
python_version = "3.7"
